@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap');
html {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 15px;
    font-weight: 300;
}
h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}
h2 {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}
p {
    margin: 5px;
}

.small {
    font-size: 21px;
    font-weight: 300;
    margin: 0;
    color: #454545;
}

body {
    margin: 0;
    text-align: center;

    -webkit-text-size-adjust: 100%
}

.header {
    margin: 115px 0 55px;
}

.main {
    margin: 25px 0 100px;
    padding: 0 10px;
}
.top-icon {
    width: 200px;
    margin: 15px;
}

.nav {
    margin: 75px auto 50px;
    max-width: 250px;
}
.nav p {
    font-size: 16px;
    margin: 12px;
    padding: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 8px;
}
.note {
    font-size: 12px;
    color: #454545;
}

.nav a {
    text-decoration: none;
}
.nav a:link, .nav a:visited, .nav a:hover, .nav a:active {
    color: #000000;
}

.footer {
    padding: 50px 0 100px;
    background-color: #aaaaaa;
}
.footer p {
    color: #454545;
    font-size: 12px;
}
.social-icons {
    margin: 30px 0 50px;
}
.social-icon {
    width: 30px;
    margin: 5px;
}
